* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
    color: #212329;
    letter-spacing: 1px;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px 0;
    background-color: #ff6fc8;
    text-align: center;
    z-index: 100;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

header img {
    width: 150px;
    /* height: 100px; */
}

header ul li {
    display: inline;
    margin: 0 1rem;
}

header ul li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 2px;
    transition: color 0.5s;
}

header ul li a:hover {
    color: black;
}

header ul li .active {
    color: black;
}

header #mainNav li #count-cart {
    color: red;
}